@font-face {
    font-family: 'guardioes';
    src: url(../Guardians.ttf);
}
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    background-color:black;
    

}
header{
    display: flex;
    justify-content: space-between;
}
header>img{
    height: 100px;
    width: 100px;
}

video {
    width: 100%;
    
}

.ban{
    font-family: 'guardioes';
    text-align: left;
    margin: 10px;
    padding: 50px;
    width: 95%;
    margin-top: -500px;
}
.ban2{
    font-family: 'guardioes';
    text-align: left;
    margin: 10px;
    padding: 50px;
    width: 95%;
    margin-top: -381px;
}
p{
    color: white;
    padding: 20px;
    margin: 20px;
}
nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
i{
    color: white;
}
input{
    color: white;
}
input{
    text-align: center;
    width: 192px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid red;
    color: white;
    margin: -20px;
    background: transparent;
}
h1{
    color: white;
    padding: 30px;
    text-shadow: 3px 3px 7px black;
}
.a1{
    width: 40px;
    height: 40px;
}
header>main{
    padding: 20px;
}
nav > img{
    width: 61px;
    height: 61px;
}

/* Imagem do meio */
main {
    
    padding-top: 50px;
}
.meio{
    border-radius: 30px;
    padding: 20px;
   margin: 10px;

}
.meio{
    display: flex;
    
}
.bt1{
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: #7CB9E8;
    border: 2px solid ;
    padding: 10px;
    margin-left: 30px;
    
}

.bt1:hover{
   background-color: pink
}

.meio {
    overflow: scroll;
    gap: 10px;
}
.meio::-webkit-scrollbar{
    display: none;
}
.Guardioes:hover{
    content: url(../img/guardioes\ gif.gif);
}
.menina:hover{
    content: url(../img/menina\ dos\ pais.gif);
}
.telefone:hover{
    content: url(../img/telefonepreto.gif);
}
.profecia:hover{
    content: url(../img/profecia.gif);
}
.adao:hover{
    content: url(../img/black-adam-teth.gif);
}
.mario:hover{
    content: url(../img/mario-bros-the-super-mario-movie.gif);
}
.quan:hover{
    content: url(../img/quantumania-ant-man.gif);
}
.assis{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    border: 2px solid red;
    padding: 10px;
    margin: 50px;
    text-align: center;
}
.serie{
    margin: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid red;
}
.serie:hover{
    background: rgb(252,70,107);
    background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(150,17,210,0.9529061624649859) 0%);
}
.topic{
    text-align: center;
}

.livro{
    margin: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
   
    border: 2px solid  #7CB9E8;
}
.livro:hover{
    background: rgb(252,70,107);
    background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(173,237,134,0.9529061624649859) 0%);
}
footer {
    border-top: 2px solid black;
    background-color:black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.infos {
    margin: 15px;
    margin-top: 20px;
    display: flex;
    color: white;
}
.infos ul {
    margin-left: 60px;
}
.infos > ul >li{
    margin: 15px;


}
nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}
.e{
 width: 97px;
}
.pesq{
    margin-top: -333px;
}
@media (max-width:500px){
    body{
        flex-direction: column;
    }
    .e {
        margin:9px;
        width: 70px;
        margin-left: 165px;
    }
    .pesq{
        margin-top: 5px;
        height: 24px;
        width: 44px; ;
    }
    h1{
        padding: 15px;
    }
    .infos{
        margin: 56px;
        margin-left: -41px;
    }
    .a1{
        width: 22px;
        height: 23px;
        margin-left: -150px;
        margin-top: 10px;
        margin-right: 239px;
    }
    .ip{
        width: auto;
        height: 50px;
    }
    .ban{
        margin: -32px;
        font-size: 12px;
        margin-top: -139px;

    }
    .ban2{
        margin: -32px;
        font-size: 12px;
        margin-top: -139px;
    }
    .b2{
        height: 32px;
        width: auto;
    }
    .pesq2{
        width: 61px;
        height: 21px;
        margin-left: 5px;
    }
    .tex{
        font-size: 15px;
    }
    .img2{
        width: 39px;
        height: 32px;
    }
    .img3{ 
        margin-right: -210px;
        margin-left: -455px;
        width: 47px;
        height: 37px;
    }
    #assis1{
        margin: left 171px;
    }
    .meio{
        width: 349px;
        height: 191px;
        gap: 10px;
    }
    .assis{
        margin-left: 24px;
        padding: 5px;
    }
    .bt1:hover{
        background-color: pink
     }
    .topic{
        margin:-29px;
        margin-left: -72px;
        font-size: 13px;
    }
    nav > img{
        margin-left: 5px;
    }
    .livro:hover{
        background: rgb(252,70,107);
        background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(173,237,134,0.9529061624649859) 0%);
    }
    .serie:hover{
        background: rgb(252,70,107);
        background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(150,17,210,0.9529061624649859) 0%);
    }
    .meio {
        overflow: scroll;
        gap: 10px;
    }
    .meio::-webkit-scrollbar{
        display: none;
    }
    .Guardioes:hover{
        content: url(../img/guardioes\ gif.gif);
    }
    .menina:hover{
        content: url(../img/menina\ dos\ pais.gif);
    }
    .telefone:hover{
        content: url(../img/telefonepreto.gif);
    }
    .profecia:hover{
        content: url(../img/profecia.gif);
    }
    .adao:hover{
        content: url(../img/black-adam-teth.gif);
    }
    .mario:hover{
        content: url(../img/mario-bros-the-super-mario-movie.gif);
    }
    .quan:hover{
        content: url(../img/quantumania-ant-man.gif);
    }
}
